.task-view{
  background-color: #f8f8f8;
  border-radius: 8px;
  padding: 2rem;
  width: 400px;
}

.subtile{
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

.content{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
