<div class="card">
  <ng-content select=".texto"></ng-content> <!-- O conteúdo projetado com a classe "texto" será inserido aqui -->
  <ng-content select="button"></ng-content> <!-- O conteúdo projetado com a tag "button" será inserido aqui -->
  <ng-content select="[attrTeste]"></ng-content> <!-- O conteúdo projetado com o atributo "attrTeste" será inserido aqui -->

  <ng-content select="[card-header]"></ng-content>
  <ng-content select="[card-content]"></ng-content>
  <ng-content select="[card-footer]"></ng-content>

  <ng-content select="app-comp-texto"></ng-content>


</div>


