<div class="credit-card">

  <div class="credit-card__header">
    <app-card-title title="Informações do Cliente" icon="icon-client.png"></app-card-title>
  </div>

  <div class="credit-card__content">

    <app-card-item text="Nome" value="José Pedro da Silva"></app-card-item>

    <app-card-line></app-card-line>

    <app-card-item text="Idade" value="47 anos"></app-card-item>

    <app-card-line></app-card-line>

    <app-card-item text="Renda Mensal" value="R$ 14.000,00"></app-card-item>

    <app-card-line></app-card-line>

    <app-card-item text="Nacionalidade" value="Brasileiro"></app-card-item>

  </div>

</div>
