/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box; /* Garantir que o padding e border sejam incluídos no tamanho total dos elementos */
  font-family: Poppins, sans-serif; /* Definir a fonte para toda a aplicação */
}

body {
  background-color: darkgray; /* Definir a cor de fundo da página */
}
