.balance-card {
  border: none; /* Remove qualquer borda */
  overflow: hidden; /* Esconde qualquer conteúdo que ultrapasse os limites do card */
  border-radius: 5px; /* Adiciona bordas arredondadas */
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  &__header {
    padding: 10px; /* Adiciona espaçamento interno */
    background-color: orange;
    display: flex;
    align-items: center;

    p{
      margin-left: auto;
      font-size: 20px;
    }
  }

  &__content {
    padding: 15px; /* Adiciona espaçamento interno */
    overflow: hidden; /* Esconde qualquer conteúdo que ultrapasse os limites do card */
    border-bottom-left-radius: 5px; /* Adiciona bordas arredondadas apenas na parte inferior esquerda */
    border-bottom-right-radius: 5px; /* Adiciona bordas arredondadas apenas na parte inferior direita */
    background-color: white;
  }

  &__content-sumary{
    margin-top: 30px;
    border-radius: 5px;
    background-color: #d5d5d5;
    padding: 0px 12px;

  }
}



