<div class="balance-card">

  <div class="balance-card__header">
    <div class="balance-card__header-title">
      <img class="balance-card__header-icon" src="./assets/icons/icon-hand.png">
      <h1>Saldos Disponíveis</h1>
    </div>
    <!-- <p>R$ 100</p> -->
  </div>

  <div class="balance-card__content">
    <div class="balance-card__content-item">
      <p>Conta Corrente</p>
      <p>R$ 200</p>
    </div>
    <div class="balance-card__content-line"></div>

    <div class="balance-card__content-item">
      <p>Conta Corrente Saldo Vinculado</p>
      <p>R$ 300</p>
    </div>
    <div class="balance-card__content-line"></div>

    <div class="balance-card__content-item">
      <p>Conta Poupança Saldo Vinculado</p>
      <p>R$ 400</p>
    </div>
    <div class="balance-card__content-line"></div>

    <div class="balance-card__content-item">
      <p>Investimentos com Baixa Automática</p>
      <p>R$ 500</p>
    </div>
    <div class="balance-card__content-line"></div>

    <div class="balance-card__content-item">
      <p>Investimentos sem Baixa Automática</p>
      <p>R$ 500</p>
    </div>
    <div class="balance-card__content-line"></div>

    <div class="balance-card__content-sumary">
      <div class="balance-card__content-sumary-item">
        <p>SALDO TOTAL</p>
        <p>R$ 1000,00</p>
      </div>

      <div class="balance-card__content-sumary-item">
        <p>LIVRE PARA MOVIMENTAÇÃO</p>
        <p>R$ 1000,00</p>
      </div>
    </div>
  </div>

</div>
