.credit-card {
  border: none; /* Remove qualquer borda */
  overflow: hidden; /* Esconde qualquer conteúdo que ultrapasse os limites do card */
  border-radius: 5px; /* Adiciona bordas arredondadas */
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  &__header {
    padding: 10px; /* Adiciona espaçamento interno */
    background-color: orange;
    display: flex;
    align-items: center;

    p{
      font-size: 20px;
    }
  }

  &__content {
    padding: 15px; /* Adiciona espaçamento interno */
    overflow: hidden; /* Esconde qualquer conteúdo que ultrapasse os limites do card */
    border-bottom-left-radius: 5px; /* Adiciona bordas arredondadas apenas na parte inferior esquerda */
    border-bottom-right-radius: 5px; /* Adiciona bordas arredondadas apenas na parte inferior direita */
    background-color: white;
  }

  &__content-item {
    display: flex;
    padding: 20px; /* Adiciona espaçamento vertical entre os itens */

    p:nth-of-type(1) { /* Seleciona o primeiro parágrafo dentro de content-item */
      margin-right: auto;
      align-items: center;
    }
  }
}



