<app-card>
  <div card-header>
    <h2>Header do Card</h2>
  </div>
  <div card-content>
    <p>Content do Card</p>
  </div>
  <div card-footer>
    <p>Footer do Card</p>
  </div>
</app-card>

<p>--------------------------------------------------------------------------------------</p>

<app-card>
  <app-comp-texto></app-comp-texto>
</app-card>

<p>--------------------------------------------------------------------------------------</p>

<app-card>
  <p class="texto">Parágrafo projetado no ng-content por classe!</p> <!-- O conteúdo dentro do card é projetado usando a diretiva ng-content -->
</app-card>

<br/>

<app-card>
  <button>Botão projetado por tag</button>
</app-card>

<br/>

<app-card>
  <button attrTeste>Botão projetado por atributo</button>
</app-card>


