<div class="container">

  <div class="item">
    <app-card>
      <app-card-header>
        <div class="card__header">
          <img src="assets/icons/icon-client.png" appCardLargeImage />
        </div>
      </app-card-header>
      <app-card-content>
        <div class="card__content">
          <p appCardDescriptionText>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur, facilis. Quas quia tempore sint sunt,
            porro suscipit nobis atque obcaecati praesentium consequuntur beatae minus nihil modi sequi alias.
            Consectetur, reiciendis?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur, facilis. Quas quia tempore sint sunt,
            porro suscipit nobis atque obcaecati praesentium consequuntur beatae minus nihil modi sequi alias.
            Consectetur, reiciendis?
          </p>
        </div>
      </app-card-content>
    </app-card>
  </div>

  <div class="item">
    <app-card>
      <app-card-header>
        <div class="card__header">
          <h1 appCardMainText>Client Name</h1>
          <img src="assets/icons/icon-client.png" appCardLargeImage />
        </div>
      </app-card-header>
      <app-card-content>
        <div class="card__content">
          <p appCardDescriptionText>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur, facilis. Quas quia tempore sint sunt,
            porro suscipit nobis atque obcaecati praesentium consequuntur beatae minus nihil modi sequi alias.
            Consectetur, reiciendis?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur, facilis. Quas quia tempore sint sunt,
            porro suscipit nobis atque obcaecati praesentium consequuntur beatae minus nihil modi sequi alias.
            Consectetur, reiciendis?
          </p>
        </div>
      </app-card-content>
    </app-card>
  </div>

  <div class="item">
    <app-card>
      <app-card-header>
        <div class="card__header">
          <h1 appCardMainText>Client Name</h1>
          <img src="assets/icons/icon-client.png" appCardLargeImage />
          <h3 appCardSubText>Front-end Developer</h3>
        </div>
      </app-card-header>
      <app-card-content>
        <div class="card__content">
          <p appCardDescriptionText>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur, facilis. Quas quia tempore sint sunt,
            porro suscipit nobis atque obcaecati praesentium consequuntur beatae minus nihil modi sequi alias.
            Consectetur, reiciendis?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur, facilis. Quas quia tempore sint sunt,
            porro suscipit nobis atque obcaecati praesentium consequuntur beatae minus nihil modi sequi alias.
            Consectetur, reiciendis?
          </p>
        </div>
      </app-card-content>
    </app-card>
  </div>

  <div class="item">
    <app-card>
      <app-card-header>
        <div class="card__header card__header__direction-column">
          <h1 appCardMainText>Client Name</h1>
          <img src="assets/icons/icon-client.png" appCardSmallImage />
          <h3 appCardSubText>Front-end Developer</h3>
        </div>
      </app-card-header>
      <app-card-content>
        <div class="card__content">
          <p appCardDescriptionText>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur, facilis. Quas quia tempore sint sunt,
            porro suscipit nobis atque obcaecati praesentium consequuntur beatae minus nihil modi sequi alias.
            Consectetur, reiciendis?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur, facilis. Quas quia tempore sint sunt,
            porro suscipit nobis atque obcaecati praesentium consequuntur beatae minus nihil modi sequi alias.
            Consectetur, reiciendis?
          </p>
        </div>
      </app-card-content>
    </app-card>
  </div>

</div>
