{{pessoa.nome | uppercase }}
{{pessoa.idade | number }}

<br>

{{pessoa | json}}

<br>

{{pessoa | json | uppercase }}

<br><br>
-------------------------------------------
<br><br>

Nome do Usuário: <b> {{pessoa.nome | truncate : 2| uppercase}}</b>
<br>
Status do Usuário: <b> {{pessoa.status | pessoaStatus }} </b>

<br><br>
-------------------------------------------
<br><br>

Texto: {{texto.textoPadrao}}
<br>
Uppercase: {{texto.textoPadrao| uppercase}}
<br>
Lowercase: {{texto.textoPadrao| lowercase}}
<br>
Titlecase: {{texto.textoPadrao| titlecase}}
<br>
Slice (start: 0, end: 5): {{texto.textoPadrao| slice:0:5}}
<br>
Json: {{texto| json}}
<br><br>
-------------------------------------------
<br><br>

<b>Formato ISO8601</b>
<br>
Data convertida região: {{minhaData | date : "full" }}
<br>
Formato UTC-0: {{minhaData | date : "full" :'+0000'}}

<br><br>

<b>Formato TimeStamp</b>
<br>
Timestamp para região: {{1781971200000 | date : "full" }}
<br>
Timestamp UTC-0: {{1781971200000 | date : "full" :'+0000'}}

<br><br>

<b>Formatações Customizadas</b>
<br>
Curto: {{minhaData | date : "short" }}  <br>
Médio: {{minhaData | date : "medium" }} <br>
Longo: {{minhaData | date : "long" }} <br>

<br><br>
Data: {{minhaData | date : "dd/MM/yyyy" }}  <br>
Dia da Semana: {{minhaData | date : "EEEE" }}  <br>
Dia: {{minhaData | date : "dd" }}  <br>
Mês: {{minhaData | date : "MM" }}  <br>
Ano: {{minhaData | date : "yyyy" }}  <br>
Hora: {{minhaData | date : "HH:mm:ss" }}  <br>
{{minhaData | date : "'Hoje é ' EEEE 'dia' dd 'de' MMMM 'de' yyyy 'às' HH:mm:ss" }}  <br>


